.footer-site{
    padding: 0 0 50px 0;
}

.footer-content{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.footer-heading{
    text-align: center;
    font-size: 36px;
    color: #21232D;
}